# Supabase Configuration
VITE_SUPABASE_URL="https://oqxvclbpqutncunmircg.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xeHZjbGJwcXV0bmN1cW1pcmNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3NzA3MDksImV4cCI6MjA5MzM0NjcwOX0.y1AJT_XoQIeeD3XuGt0ysmrwoZB9PzM6p90wjTsITT8"
VITE_SUPABASE_SERVICE_ROLE="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xeHZjbGJwcXV0bmN1cW1pcmNnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Nzc3MDcwOSwiZXhwIjoyMDkzMzQ2NzA5fQ.NPk_pIMQjd5oy9SN_UrGHBl-hDRBhGTgYgAHk16g-Kk"
